html
  head
    link(rel="stylesheet",type="text/css",href="game.css")
    script(src="../../webcomponentsjs/webcomponents-lite.js")
    script
      |  /*
      |  window.Polymer = window.Polymer || {};
      |  window.Polymer.dom = 'shadow';
      |  */
    link(rel="import",href="models/tank.html")
  body
    .container
      .grid.grid_inline
        .col.col_one-third.body1
          form#chat_form(action='api/documents',method="GET")
            input#username(type="hidden",value=user)
            fieldset.fieldset
              .field-group
                label.label(for="message") Message
                textarea.field#message(type="text",name="message")
            .actions
              button.btn.btn_danger Send
              icon-toggle-demo
          .chat.body1
        .col.col_two-thirds
          .game-board
            .tank#tank1
              tank-model
              //- include graphics/tank.svg
    script(src="/jQuery/dist/jquery.min.js")
    script(src="/game.js")

