html
  head
    link(rel="stylesheet",type="text/css",href="nard.css")
  body
    .container
      .board#board
    script(src="/jails_polyfill.js")
    script(src="/jails.js")
    script(src="/nard.js")

